// ==================================== //
// Color Settings
// ==================================== //
// NEW
$color-primary-5: #f3fbf5;
$color-primary-10: #e6f8eb;
$color-primary-20: #cdf0d8;
$color-primary-40: #9ce1b1;
$color-primary-60: #6ad389;
$color-primary-80: #39c462;
$color-primary: #465fff;

$color-secondary-5: #fffaf5;
$color-secondary-10: #fff5ec;
$color-secondary-20: #feead8;
$color-secondary-40: #fdd6b1;
$color-secondary-60: #fcc18b;
$color-secondary-80: #fbad64;
$color-secondary: #fa983d;

$color-gray-0: #ffffff;
$color-gray-5: #f4f4f4;
$color-gray-10: #e8e8e8;
$color-gray-20: #d2d2d2;
$color-gray-40: #a4a4a4;
$color-gray-60: #777777;
$color-gray-80: #4a4a4a;
$color-gray: #1d1d1d;

$color-success-5: #f5fbf6;
$color-success-10: #eaf7ec;
$color-success-20: #d5eed9;
$color-success-40: #acdeb4;
$color-success-60: #82cd8e;
$color-success-80: #59bd69;
$color-success: #2fac43;

$color-error-5: #fff3f3;
$color-error-10: #fee8e8;
$color-error-20: #fed0d0;
$color-error-40: #fca1a1;
$color-error-60: #fb7272;
$color-error-80: #f94444;
$color-error: #f81515;

$color-info-5: #f3f9ff;
$color-info-10: #e8f4ff;
$color-info-20: #d1e9ff;
$color-info-40: #a3d3ff;
$color-info-60: #75bdff;
$color-info-80: #47a6ff;
$color-info: #1890ff;